:root {
  --primary: black;
  --background: #6a0dad;
}
.body{
  background-color: white;
  color: var(--background);
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: #728a6e;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  position: fixed;
}